body {
    color:aquamarine;
    background: black;
    margin: 0px;
    font-family: "Protest Strike",sans-serif
}

header {
    border-bottom: solid 2px #05faee;
    padding: 20px;
    font-size: 32px;
    color: rgb(156, 3, 105)
}
.chamada{
    background: rgb(25, 4, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}